<div class="amiibo">
  <div>
    <h1>{{ amiibo?.name }}</h1>
    <p>Amiibo Series: <a routerLink="/Amiibo">{{ amiibo?.amiiboSeries }}</a></p>
    <p>Game Series: <a routerLink="">{{ amiibo?.gameSeries }}</a></p>
    <div>
        <h4>Released</h4>
        <p> AU: {{ amiibo?.release.au }}</p>
        <p> EU: {{ amiibo?.release.eu }}</p>
        <p> JP: {{ amiibo?.release.jp }}</p>
        <p> NA: {{ amiibo?.release.na }}</p>
      </div>
    </div>
  <img src="{{ amiibo?.image }}" alt="{{ amiibo?.name }}">
</div>


