.amiibos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
}

.amiibos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fe0016;
    border: #727272 1px solid;
    border-radius: 5px;
}

.amiibos div img {
    max-width: 100%;
    margin-bottom: 50px
}

.amiibos div a {
    background-color: #727272;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 25px;
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.paginator * {
    margin: 0 30px;
    color: #fe0016;
}

.active {
    border: 1px #000 solid;
}

.disabled {
    color: #ccc !important;
    pointer-events: none;
}
