<div class="todo">
 <h1 class="header">Things Todo</h1> 
 <ul>
    <ng-container *ngFor="let todo of todos">
        <li *ngIf="!todo.isDeleted"
          [ngClass]="{ 'completed': todo.isCompleted }"
          (click)="toggleCompleted(todo)">{{ todo.title }}
          <span (click)="toggleDeleted(todo)">Delete</span>
        </li>
    </ng-container>
  </ul>
  <form (ngSubmit)="addTodo()">
    <input type="text" [(ngModel)]="newTodo.title" name="title">
    <button>Add</button>
  </form>
</div>

<hr>

<div class="trash">
  <h2>Trash</h2>
  <button (click)="emptyTodoTrash()">Empty</button>
  <ng-container *ngFor="let todo of todos">
    <li *ngIf="todo.isDeleted">
      {{ todo.title }}
      <span (click)="toggleDeleted(todo)">Restore</span>

    </li>

  </ng-container>
</div>

    



